p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
}

h1 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding-left: 190px;
}

header p {
  color: black;
  font-size: medium;
  padding-left: 68px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.article-title {
  color: rgb(0, 0, 0);
  margin-left: 208px;
}

.card {
  background-color: rgb(240, 238, 238);
  border: solid black;
  border-radius: 10px;
  padding: 10px;
  padding-top: 1px;
  margin: 18px;
  width: 650px;
}

.button {
  background-color: rgb(6, 97, 0);
  font-size: medium;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: 220px;
  width: 150px;
  height: 30px;
}

.price {
  color: rgb(32, 101, 35);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  margin-left: 243px;
}

#h2 {
  margin-left: 235px;
  color: rgb(0, 0, 0);
}

s {
  color: red;
  font-size: small;
  margin-left: 10px;
}
